@model IEnumerable<WebApplication5.Models.VI_courses>

@{
    ViewBag.Title = "Index";
}

<style>
    .btn {
        color: dodgerblue;
        background-color: white;
        text-decoration: none;
    }

        .btn:hover {
            color: white;
            background-color: dodgerblue;
        }

    .heading {
        height: 45px;
        background-color: dodgerblue;
        color: white;
        width: 100%;
        border-radius: 14px;
        text-align: center;
    }
</style>

<div class="heading">

    <h3 style="color:white; padding-top: 4px;font-family: calibri">Courses VI Details</h3>
</div>
<br />


<button class="btn btn-default" onclick="location.href='@Url.Action("Create", "VI_courses")';return false;">Add Cources</button>

<br /><br />
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Cources Name
        </th>
        <th>
            Edit
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.cous_id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cous_name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cous_id })
            </td>


           
        </tr>
    }

</table>

